.business-container {
    border: solid 1px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
    background-color: rgb(12, 12, 87);  
}

.business-container .texts {
    border: solid 1px blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.business-container .texts .fiverr {
    border: solid 1px blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.business-container .texts .tick-p {
    display: flex;
    border: solid 1px purple;
    display: flex;
    align-items: center;
}

.business-container .texts .tick-p  img {
    width: 25px;
    height: 25px;
    border: solid 1px;
    opacity: 0.7;
    margin-right: 10px;
}

.business-container .texts .tick-p  p {
    color: white;
    margin: 0;
}

.header .search button {
    background-color: rgb(0, 194, 94);
    border: none;
    width: 110px;
    border-radius: 0 3px 3px 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.header .search button:hover {
    background-color: rgb(0, 174, 84);

}