.business-container {
    border: solid 1px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
    background-color: rgb(11, 11, 74);  
    padding: 50px 0 90px 0;
}

.business-container .texts {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 80px;
    color: white;
    text-align: left;
}

.business-container .texts .fiverr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.business-container .texts .fiverr h2 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0px;
}
.business-container .texts .fiverr h3 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0px;
    margin-left: 5px;
}
.business-container .texts .fiverr .new {
    font-size: 0.6rem;
    font-weight: 600;
    margin-left: 5px;
    padding: 3px 8px;
    background-color: rgb(67, 43, 226);
    border-radius: 30px;
}

.business-container .texts h1 {
    font-size: 2.1rem;
    margin: 0;
}
.business-container .texts h1 i {
    font-size: 2.1rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.business-container .texts h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 20px 0;

}

.business-container .texts .tick-p {
    display: flex;
    display: flex;
    align-items: center;
}

.business-container .texts .tick-p  img {
    width: 25px;
    height: 25px;
    opacity: 0.7;
    filter: invert(70%);
    margin-right: 10px;
}

.business-container .texts .tick-p  p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.business-container .texts button {
    background-color: rgb(45, 194, 117);
    border: none;
    width: 230px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 12px 0;
    margin-top: 50px;
}

.business-container .texts button:hover {
    background-color: rgb(40, 162, 99);
}

/* image */
.business-container .image {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.business-container .image img{
    width: 750px;
    position: relative;
    top: 50px;
}