.header {
    background-color: seagreen;
    height: 680px;
    position: relative;
    background-position: -150px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}

.header.one {
    background-image: url('../../assets/images/one.png');
}
.header.two {
    background-image: url('../../assets/images/two.png');
}
.header.three {
    background-image: url('../../assets/images/three.png');
}
.header.four {
    background-image: url('../../assets/images/four.png');
}
.header.five {
    background-image: url('../../assets/images/five.png');
}

.header a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header ul {
    list-style-type: none;
    display: flex;
}

/* Section */

.header section {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.section-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 90px;
}

.section-container h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
}

.section-container h1 i {
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header .search {
    display: flex;
}

.header .search svg {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 3px 0 0 3px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.header .search input {
    font-size: 1.1rem;
    font-weight: 500;
    width: 480px;
    border: none;
    outline: none;
}

.header .search button {
    background-color: rgb(0, 194, 94);
    border: none;
    width: 110px;
    border-radius: 0 3px 3px 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.header .search button:hover {
    background-color: rgb(0, 174, 84);

}

.header .trends {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .trends h3 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.header .trends ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.header .trends ul li {
    margin: 0 5px;   
}

.header .trends ul li a {
    border: solid 1px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 50px;
    padding: 2px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .trends ul li a:hover {
    background-color: white;
    color: black;
    border-color: white;
}
