.services {
    position: relative;
    width: 1350px;
    margin: 0 auto;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.services-container h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
    margin: 20px 0;
}

.services-container .slider {
    display: flex;
    width: 200%;
    position: relative;
    transition: 0.5s;
}

.services .second {
    transform: translateX(-50%);
}

.services-container .one,
.services-container .two {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.services-container .item {
    position: relative;
    width: 220px;
    height: 330px;
    border-radius: 5px;
    background-color: gray;
    overflow: hidden;
}

.services-container .item:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.services-container .item .texts {
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 15px;
}
.services-container .item .texts p {
    font-weight: 600;
    margin: 0;
}
.services-container .item .texts h2 {
    margin: 0;
}

.services .right-button,
.services .left-button {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.services .right-button {
    right: -23px;
    top: 220px;
}
.services .left-button {
    left: -23px;
    top: 220px;
}


